---
import BaseLayout from '../layouts/base.astro';
import SiteFooter from '../components/frontend/SiteFooter.astro';

export const prerender = true;
---

<BaseLayout
  canonical="https://bookstore.guide/about/"
  title="San Francisco Book Store Guide - About"
  description="About bookstore.guide - a guide to San Francisco book sellers.">
  <h1>About</h1>

  <div class="content">
    <h2 class="mt-0">What</h2>
    <p>
      San Francisco Book Store Guide is a guide to San Francisco book sellers. If you see something
      wrong or missing, please email
      <a href="mailto:pete@bookstore.guide">Pete</a>.
    </p>

    <h2>Who</h2>
    <p>
      San Francisco Book Store Guide is built by
      <a href="https://pete.vonpetrin.com">Pete von Petrin</a>.
    </p>
    <h2>How</h2>
    <p>
      This site is lovingly hand-coded using Astro, Better Auth, DaisyUI, MySQL, Prisma, React,
      Tailwind, and Typescript.
    </p>
    <h2>Privacy</h2>
    <p>
      No personally identifiable information is tracked. We do not set cookies (unless you're an
      admin).
    </p>
    <div class="small-text">This page last updated August 7, 2025</div>
  </div>
  <SiteFooter current="About" />
</BaseLayout>

<style>
  .small-text {
    font-size: 0.85rem;
  }
</style>
