---
const { current } = Astro.props;
---

<div class="nav">
  {current !== "Home" && <a href={`${import.meta.env.BSG_BASE_URL}`}>Home</a>}
  {current !== "Home" && current !== "About" && <span>-</span>}
  {
    current !== "About" && (
      <a href={`${import.meta.env.BSG_BASE_URL}/about`}>About</a>
    )
  }
</div>

<style>
  .nav a {
    color: rgba(30, 39, 52, 0.8);
    font-weight: 800;
  }
</style>
